* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.fullscreen {
  width: 100%;
  height: 100vh;
}

.frontpage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#navbar {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.line {
  border: 1px lightgray solid;
  margin: 10px 0px;
  margin: 3%;
}

.address {
  margin-bottom: 80px;
}

.intro {
  height: 100%;
}

.subtitle {
  margin-bottom: 15px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.skills {
  height: 100%;
  display: grid;
  flex-flow: column;
}

.small-box {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
}

.small-box p {
  align-self: center;
}

@media screen and (max-width: 370px) {
  .large {
    display: none;
  }
}

@media screen and (min-width: 371px) {
  .small {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}

.project {
  height: 100%;
  display: grid;
}

.intro, .project, .skills {
  margin-left: 5%;
  margin-right: 5%;
}


footer {
  color: white;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
